@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
  font-size: 22px;
  --black: #101820;
  --darkGray: #53565a;
  --mediumGray: #888b8d;
  --lightGray: #a7a8aa;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: var(--black);
}

*,
*:before,
*:after {
  font-family: inherit;
  box-sizing: border-box;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 32rem;
  padding: 2rem 1rem;
  margin: auto;
}

input {
  border: none;
  border-bottom: 2px solid;
  padding: .5em 0;
  font-size: 1rem;
  flex: 1 1 auto;
  margin-right: 1rem;
}

button,
input[type=submit] {
  border: 2px solid;
  padding: .5em;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

button.icon {
  background: none;
  border: none;
  font-size: 1em;
}

input[type=checkbox] {
  position: absolute;
  left: -100vw;
  opacity: 0;
}

input[type=checkbox] + label {
  flex: 1 1 auto;
}

input[type=checkbox] + label:before {
  content: '⬜️';
  display: inline-block;
  margin-right: 0.5em;
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
  color: var(--lightGray);
}

input[type=checkbox]:checked + label:before {
  content: '✅';
}

.new-item {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

h2 {
  font-size: 1rem;
  margin-top: 3rem;
}

#task-list {
  padding: 0;
  list-style-type: none;
  margin-top: 1rem;
}